@font-face {
    font-family: 'dudu_cyryllicmedium';
    src: url('duducyrillic-webfont.woff2') format('woff2'),
//         url('duducyrillic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
